<!DOCTYPE html>
<html>
@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<head>
    <style>
        #body {
            color:black;
            background-color:antiquewhite;
        }

    </style>
</head>
<body>
    <br />
    <br />
    <p>
        This site functions as a banking web application. The home page provides users the option to create and account or login. <br>User can also visit the contact page
        to send a message to admin. Users can log into their account and make withdraws, deposits, transfers, open or close an account. The web app contains 2 databases.
        <ul>
            The first database contains the following information:
            <li>User name</li>
            <li>Email</li>
            <li>Password</li>
            <li>SSN</li>
            <li>Address</li>
        </ul>
        <ul>
            The second database contains:
            <li>Account number</li>
            <li>Account type</li>
            <li>Current balance</li>
            <li>SSN</li>

        </ul>

    </p>
</body>
</html>