<!DOCTYPE html>
<html>
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {
            display: none;
        }
        body {
            background-color:peachpuff;
            color:blueviolet;
        }
    </style>
</head>

<body>

    <h2 class="w3-center">Welcoming to the Banking Web App</h2>

    <div class="w3-content w3-section" style="max-width:500px">
        <img class="slideShow" width="100%" height="70%" src="https://www.kovacorp.com/wp-content/uploads/2016/06/online-banking.jpg" />
        <img class="slideShow" width="100%" height="70%" src="https://gravitypayments.com/wp-content/uploads/2017/01/financial-institutions.jpg" />
        <img class="slideShow" width="100%" height="70%" src="https://www.avanade.com/~/media/images/content/background/thinking/the-everyday-bank.jpg" />
    </div>

    <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("slideShow");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) { myIndex = 1 }
            x[myIndex - 1].style.display = "block";
            setTimeout(carousel, 2000); // Change image every 2 seconds
        }
    </script>

    <div>
        <p>Welcome to the web banking app. In the menu above, you can select a number of options. To </p>
    </div>
</body>
</html>
